<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express | <%=title%></title>
</head>

<body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>Express</h1></a>
            <p>Express app</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsam cum corrupti dignissimos! Perspiciatis
            iure fugiat magni, dolor vitae ab vel distinctio quo adipisci nisi quae pariatur sit possimus eaque?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, consectetur!

        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perferendis iusto dolorum unde cupiditate
            laudantium porro, ex modi ipsum dicta earum beatae, nulla provident, pariatur quasi! Id repellat illo dolore
            similique labore velit dicta rem neque vero iusto? Quod neque recusandae officiis atque quas, corrupti
            ratione veniam nesciunt obcaecati quo.
        </p>
    </div>

</body>

</html>